## Airport Simulation

Here this simulation is a 2 Process Simulation where we enter a process A(Check In) and the when that is complete we enter the 2nd Process B(Immigration). The CheckIn is a random distribution from value 3 to 7 min and Immigration is a normal distribution with a mean of 7 min and std dev with 2 mins.

In [1]:
from random import randrange
import datetime

In [2]:
def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + datetime.timedelta(seconds=random_second)

In [3]:
d1 = datetime.datetime.strptime('1/1/2009 9:00 AM', '%m/%d/%Y %I:%M %p')
d2 = datetime.datetime.strptime('1/1/2009 6:00 PM', '%m/%d/%Y %I:%M %p')


N = 50
arrival_times = []
for i in range(N):
    arrival_times.append(random_date(d1, d2))
    
arrival_times[:5]

[datetime.datetime(2009, 1, 1, 16, 36, 37),
 datetime.datetime(2009, 1, 1, 14, 1, 57),
 datetime.datetime(2009, 1, 1, 13, 17, 13),
 datetime.datetime(2009, 1, 1, 12, 2, 13),
 datetime.datetime(2009, 1, 1, 15, 9, 46)]

In [4]:
import pandas as pd
import numpy as np


df = pd.DataFrame()
df['Passengers'] = list(np.arange(N) + 1)
df['Airport Arrival Time'] = arrival_times
df['Airport Arrival Time'] = df['Airport Arrival Time'].sort_values(ascending=True).tolist()

df

    Passengers Airport Arrival Time
0            1  2009-01-01 09:07:37
1            2  2009-01-01 09:41:45
2            3  2009-01-01 09:49:30
3            4  2009-01-01 09:54:21
4            5  2009-01-01 09:57:58
5            6  2009-01-01 10:07:55
6            7  2009-01-01 10:10:40
7            8  2009-01-01 10:42:44
8            9  2009-01-01 10:49:05
9           10  2009-01-01 11:12:02
10          11  2009-01-01 11:15:04
11          12  2009-01-01 11:39:16
12          13  2009-01-01 11:43:30
13          14  2009-01-01 11:57:44
14          15  2009-01-01 11:57:58
15          16  2009-01-01 12:02:13
16          17  2009-01-01 12:03:36
17          18  2009-01-01 12:07:13
18          19  2009-01-01 12:20:05
19          20  2009-01-01 12:43:09
20          21  2009-01-01 12:53:46
21          22  2009-01-01 13:11:31
22          23  2009-01-01 13:16:45
23          24  2009-01-01 13:17:13
24          25  2009-01-01 13:22:13
25          26  2009-01-01 13:26:34
26          27  2009-01-01 14:01:57
27          28  2009-01-01 14:02:38
28          29  2009-01-01 14:08:07
29          30  2009-01-01 14:18:26
30          31  2009-01-01 14:21:34
31          32  2009-01-01 14:38:55
32          33  2009-01-01 14:40:57
33          34  2009-01-01 14:42:40
34          35  2009-01-01 15:02:54
35          36  2009-01-01 15:09:33
36          37  2009-01-01 15:09:46
37          38  2009-01-01 15:29:25
38          39  2009-01-01 15:37:27
39          40  2009-01-01 15:39:27
40          41  2009-01-01 15:57:08
41          42  2009-01-01 16:05:02
42          43  2009-01-01 16:36:37
43          44  2009-01-01 16:51:46
44          45  2009-01-01 16:52:20
45          46  2009-01-01 16:53:01
46          47  2009-01-01 16:55:45
47          48  2009-01-01 16:59:13
48          49  2009-01-01 17:27:59
49          50  2009-01-01 17:34:00

In [5]:
df.dtypes

Passengers                       int64
Airport Arrival Time    datetime64[ns]
dtype: object

In [6]:
def time2timedelta(timeObj):
    return datetime.datetime.combine(datetime.date.min, timeObj) - datetime.datetime.min

def timedelta2time(deltaObj):
    return (datetime.datetime.min + deltaObj).time()

In [7]:
import math

def checkIn_process(low_val, high_val):
    random_number = np.random.uniform(low=low_val, high=high_val)
    hours = math.floor(random_number/60)
    minutes = math.floor(random_number) if random_number < 60 else (math.floor(random_number) - (hours*60))
    seconds = round(((random_number - math.floor(random_number))*0.6)*100)
    x = timedelta2time(datetime.timedelta(hours = hours, minutes = minutes, seconds = seconds))
    return x 

low_val = 3.0
high_val = 7.0


def immigration_Process(mu, sigma):
    random_number = np.random.normal(mu, sigma)
    hours = math.floor(random_number/60)
    minutes = math.floor(random_number) if random_number < 60 else (math.floor(random_number) - (hours*60))
    seconds = round(((random_number - math.floor(random_number))*0.6)*100)
    x = timedelta2time(datetime.timedelta(hours = hours, minutes = minutes, seconds = seconds))
    return x 

mu = 8
sigma = 2

In [8]:
checkin_queue, checkin_start, checkin_process, checkin_finish = [], [], [], []
immigration_queue, immigration_start, immigration_process, immigration_finish = [], [], [], []
total_time = []

In [9]:
checkin_queue.append(timedelta2time(datetime.timedelta(seconds=0)))
checkin_start.append(df['Airport Arrival Time'][0].to_pydatetime())

checkinProcess = checkIn_process(low_val, high_val)
checkin_process.append(checkinProcess)

checkinFinish = checkin_start[0] + time2timedelta(checkin_process[0]) 
checkin_finish.append(checkinFinish)


immigration_queue.append(timedelta2time(datetime.timedelta(seconds=0)))
immigration_start.append(checkin_finish[0])

immigrationProcess = immigration_Process(mu, sigma)
immigration_process.append(immigrationProcess)

immigrationFinish = immigration_start[0] + time2timedelta(immigration_process[0]) 
immigration_finish.append(immigrationFinish)

total_time.append(timedelta2time(immigration_finish[-1] - checkin_start[-1]))

In [10]:
for index, row in df.iterrows():
    if index == 0:
        continue
    checkin_arrivalTime = df['Airport Arrival Time'][index].to_pydatetime()
    if checkin_arrivalTime >=  checkin_finish[-1]:
        checkin_start.append(checkin_arrivalTime)
        checkin_queue.append(timedelta2time(datetime.timedelta(seconds=0)))
        
        checkinProcess = checkIn_process(low_val, high_val)
        checkin_process.append(checkinProcess)
        
        checkinFinish = checkin_start[-1] + time2timedelta(checkin_process[-1]) 
        checkin_finish.append(checkinFinish)
    else:
        checkin_start.append(checkin_finish[-1])
        checkin_queue.append(timedelta2time(checkin_finish[-1] - checkin_arrivalTime))
        
        checkinProcess = checkIn_process(low_val, high_val)
        checkin_process.append(checkinProcess)
        
        checkinFinish = checkin_start[-1] + time2timedelta(checkin_process[-1]) 
        checkin_finish.append(checkinFinish)
    
    if checkin_finish[-1] >= immigration_finish[-1]:
        immigration_start.append(checkin_finish[-1])
        immigration_queue.append(timedelta2time(datetime.timedelta(seconds=0)))

        immigrationProcess = immigration_Process(mu, sigma)
        immigration_process.append(immigrationProcess)

        immigrationFinish = immigration_start[-1] + time2timedelta(immigration_process[-1]) 
        immigration_finish.append(immigrationFinish)
    else:
        immigration_start.append(immigration_finish[-1])
        immigration_queue.append(timedelta2time(immigration_finish[-1] - checkin_finish[-1]))

        immigrationProcess = immigration_Process(mu, sigma)
        immigration_process.append(immigrationProcess)

        immigrationFinish = immigration_start[-1] + time2timedelta(immigration_process[-1]) 
        immigration_finish.append(immigrationFinish)
    total_time.append(timedelta2time(immigration_finish[-1] - checkin_arrivalTime))

In [11]:
df['Check-In Queue Time'] = checkin_queue
df['Check-In Start Time'] = checkin_start
df['Check-In Process Time'] = checkin_process
df['Check-In Finish Time'] = checkin_finish

df['Immigration Queue Time'] = immigration_queue
df['Immigration Start Time'] = immigration_start
df['Immigration Process Time'] = immigration_process
df['Immigration Finish Time'] = immigration_finish

df['Total Time Spent'] = total_time

df

,Passengers,Airport Arrival Time,Check-In Queue Time,Check-In Start Time,Check-In Process Time,Check-In Finish Time,Immigration Queue Time,Immigration Start Time,Immigration Process Time,Immigration Finish Time,Total Time Spent
0,1,2009-01-01 09:07:37,00:00:00,2009-01-01 09:07:37,00:06:25,2009-01-01 09:14:02,00:00:00,2009-01-01 09:14:02,00:07:40,2009-01-01 09:21:42,00:14:05
1,2,2009-01-01 09:41:45,00:00:00,2009-01-01 09:41:45,00:03:39,2009-01-01 09:45:24,00:00:00,2009-01-01 09:45:24,00:07:03,2009-01-01 09:52:27,00:10:42
2,3,2009-01-01 09:49:30,00:00:00,2009-01-01 09:49:30,00:04:58,2009-01-01 09:54:28,00:00:00,2009-01-01 09:54:28,00:07:47,2009-01-01 10:02:15,00:12:45
3,4,2009-01-01 09:54:21,00:00:07,2009-01-01 09:54:28,00:05:22,2009-01-01 09:59:50,00:02:25,2009-01-01 10:02:15,00:07:27,2009-01-01 10:09:42,00:15:21
4,5,2009-01-01 09:57:58,00:01:52,2009-01-01 09:59:50,00:03:07,2009-01-01 10:02:57,00:06:45,2009-01-01 10:09:42,00:10:25,2009-01-01 10:20:07,00:22:09
5,6,2009-01-01 10:07:55,00:00:00,2009-01-01 10:07:55,00:05:17,2009-01-01 10:13:12,00:06:55,2009-01-01 10:20:07,00:09:15,2009-01-01 10:29:22,00:21:27
6,7,2009-01-01 10:10:40,00:02:32,2009-01-01 10:13:12,00:06:30,2009-01-01 10:19:42,00:09:40,2009-01-01 10:29:22,00:09:23,2009-01-01 10:38:45,00:28:05
7,8,2009-01-01 10:42:44,00:00:00,2009-01-01 10:42:44,00:03:43,2009-01-01 10:46:27,00:00:00,2009-01-01 10:46:27,00:06:30,2009-01-01 10:52:57,00:10:13
8,9,2009-01-01 10:49:05,00:00:00,2009-01-01 10:49:05,00:05:14,2009-01-01 10:54:19,00:00:00,2009-01-01 10:54:19,00:11:47,2009-01-01 11:06:06,00:17:01
9,10,2009-01-01 11:12:02,00:00:00,2009-01-01 11:12:02,00:04:17,2009-01-01 11:16:19,00:00:00,2009-01-01 11:16:19,00:07:27,2009-01-01 11:23:46,00:11:44
10,11,2009-01-01 11:15:04,00:01:15,2009-01-01 11:16:19,00:06:31,2009-01-01 11:22:50,00:00:56,2009-01-01 11:23:46,00:05:48,2009-01-01 11:29:34,00:14:30
11,12,2009-01-01 11:39:16,00:00:00,2009-01-01 11:39:16,00:04:16,2009-01-01 11:43:32,00:00:00,2009-01-01 11:43:32,00:08:07,2009-01-01 11:51:39,00:12:23
12,13,2009-01-01 11:43:30,00:00:02,2009-01-01 11:43:32,00:06:37,2009-01-01 11:50:09,00:01:30,2009-01-01 11:51:39,00:05:53,2009-01-01 11:57:32,00:14:02
13,14,2009-01-01 11:57:44,00:00:00,2009-01-01 11:57:44,00:06:28,2009-01-01 12:04:12,00:00:00,2009-01-01 12:04:12,00:11:06,2009-01-01 12:15:18,00:17:34
14,15,2009-01-01 11:57:58,00:06:14,2009-01-01 12:04:12,00:05:23,2009-01-01 12:09:35,00:05:43,2009-01-01 12:15:18,00:07:00,2009-01-01 12:22:18,00:24:20
15,16,2009-01-01 12:02:13,00:07:22,2009-01-01 12:09:35,00:03:54,2009-01-01 12:13:29,00:08:49,2009-01-01 12:22:18,00:04:45,2009-01-01 12:27:03,00:24:50
16,17,2009-01-01 12:03:36,00:09:53,2009-01-01 12:13:29,00:04:46,2009-01-01 12:18:15,00:08:48,2009-01-01 12:27:03,00:09:39,2009-01-01 12:36:42,00:33:06
17,18,2009-01-01 12:07:13,00:11:02,2009-01-01 12:18:15,00:03:13,2009-01-01 12:21:28,00:15:14,2009-01-01 12:36:42,00:08:41,2009-01-01 12:45:23,00:38:10
18,19,2009-01-01 12:20:05,00:01:23,2009-01-01 12:21:28,00:05:12,2009-01-01 12:26:40,00:18:43,2009-01-01 12:45:23,00:08:47,2009-01-01 12:54:10,00:34:05
19,20,2009-01-01 12:43:09,00:00:00,2009-01-01 12:43:09,00:06:30,2009-01-01 12:49:39,00:04:31,2009-01-01 12:54:10,00:06:41,2009-01-01 13:00:51,00:17:42
20,21,2009-01-01 12:53:46,00:00:00,2009-01-01 12:53:46,00:06:54,2009-01-01 13:00:40,00:00:11,2009-01-01 13:00:51,00:08:21,2009-01-01 13:09:12,00:15:26
21,22,2009-01-01 13:11:31,00:00:00,2009-01-01 13:11:31,00:06:58,2009-01-01 13:18:29,00:00:00,2009-01-01 13:18:29,00:10:09,2009-01-01 13:28:38,00:17:07
22,23,2009-01-01 13:16:45,00:01:44,2009-01-01 13:18:29,00:03:28,2009-01-01 13:21:57,00:06:41,2009-01-01 13:28:38,00:04:26,2009-01-01 13:33:04,00:16:19
23,24,2009-01-01 13:17:13,00:04:44,2009-01-01 13:21:57,00:06:23,2009-01-01 13:28:20,00:04:44,2009-01-01 13:33:04,00:05:50,2009-01-01 13:38:54,00:21:41
24,25,2009-01-01 13:22:13,00:06:07,2009-01-01 13:28:20,00:06:33,2009-01-01 13:34:53,00:04:01,2009-01-01 13:38:54,00:08:17,2009-01-01 13:47:11,00:24:58
25,26,2009-01-01 13:26:34,00:08:19,2009-01-01 13:34:53,00:03:50,2009-01-01 13:38:43,00:08:28,2009-01-01 13:47:11,00:08:56,2009-01-01 13:56:07,00:29:33
26,27,2009-01-01 14:01:57,00:00:00,2009-01-01 14:01:57,00:06:27,2009-01-01 14:08:24,00:00:00,2009-01-01 14:08:24,00:09:02,2009-01-01 14:17:26,00:15:29
27,28,2009-01-01 14:02:38,00:05:46,2009-01-01 14:08:24,00:04:44,2009-01-01 14:13:08,00:04:18,2009-01-01 14:17:26,00:11:42,2009-01-01 14:29:08,00:26:30
28,29,2009-01-01 14:08:07,00:05:01,2009-01-01 14:13:08,00:04:29,2009-01-01 14:17:37,00:11:31,2009-01-01 14:29:08,00:06:26,2009-01-01 14:35:34,00:27:27
29,30,2009-01-01 14:18:26,00:00:00,2009-01-01 14:18:26,00:05:56,2009-01-01 14:24:22,00:11:12,2009-01-01 14:35:34,00:11:13,2009-01-01 14:46:47,00:28:21
30,31,2009-01-01 14:21:34,00:02:48,2009-01-01 14:24:22,00:06:18,2009-01-01 14:30:40,00:16:07,2009-01-01 14:46:47,00:09:14,2009-01-01 14:56:01,00:34:27
31,32,2009-01-01 14:38:55,00:00:00,2009-01-01 14:38:55,00:03:26,2009-01-01 14:42:21,00:13:40,2009-01-01 14:56:01,00:05:25,2009-01-01 15:01:26,00:22:31
32,33,2009-01-01 14:40:57,00:01:24,2009-01-01 14:42:21,00:06:27,2009-01-01 14:48:48,00:12:38,2009-01-01 15:01:26,00:11:38,2009-01-01 15:13:04,00:32:07
33,34,2009-01-01 14:42:40,00:06:08,2009-01-01 14:48:48,00:04:13,2009-01-01 14:53:01,00:20:03,2009-01-01 15:13:04,00:08:49,2009-01-01 15:21:53,00:39:13
34,35,2009-01-01 15:02:54,00:00:00,2009-01-01 15:02:54,00:05:57,2009-01-01 15:08:51,00:13:02,2009-01-01 15:21:53,00:08:22,2009-01-01 15:30:15,00:27:21
35,36,2009-01-01 15:09:33,00:00:00,2009-01-01 15:09:33,00:04:16,2009-01-01 15:13:49,00:16:26,2009-01-01 15:30:15,00:09:50,2009-01-01 15:40:05,00:30:32
36,37,2009-01-01 15:09:46,00:04:03,2009-01-01 15:13:49,00:03:47,2009-01-01 15:17:36,00:22:29,2009-01-01 15:40:05,00:08:59,2009-01-01 15:49:04,00:39:18
37,38,2009-01-01 15:29:25,00:00:00,2009-01-01 15:29:25,00:04:40,2009-01-01 15:34:05,00:14:59,2009-01-01 15:49:04,00:05:36,2009-01-01 15:54:40,00:25:15
38,39,2009-01-01 15:37:27,00:00:00,2009-01-01 15:37:27,00:04:04,2009-01-01 15:41:31,00:13:09,2009-01-01 15:54:40,00:05:00,2009-01-01 15:59:40,00:22:13
39,40,2009-01-01 15:39:27,00:02:04,2009-01-01 15:41:31,00:06:08,2009-01-01 15:47:39,00:12:01,2009-01-01 15:59:40,00:08:59,2009-01-01 16:08:39,00:29:12
40,41,2009-01-01 15:57:08,00:00:00,2009-01-01 15:57:08,00:03:38,2009-01-01 16:00:46,00:07:53,2009-01-01 16:08:39,00:10:23,2009-01-01 16:19:02,00:21:54
41,42,2009-01-01 16:05:02,00:00:00,2009-01-01 16:05:02,00:06:46,2009-01-01 16:11:48,00:07:14,2009-01-01 16:19:02,00:09:59,2009-01-01 16:29:01,00:23:59
42,43,2009-01-01 16:36:37,00:00:00,2009-01-01 16:36:37,00:05:45,2009-01-01 16:42:22,00:00:00,2009-01-01 16:42:22,00:07:13,2009-01-01 16:49:35,00:12:58
43,44,2009-01-01 16:51:46,00:00:00,2009-01-01 16:51:46,00:03:50,2009-01-01 16:55:36,00:00:00,2009-01-01 16:55:36,00:06:30,2009-01-01 17:02:06,00:10:20
44,45,2009-01-01 16:52:20,00:03:16,2009-01-01 16:55:36,00:04:48,2009-01-01 17:00:24,00:01:42,2009-01-01 17:02:06,00:05:22,2009-01-01 17:07:28,00:15:08
45,46,2009-01-01 16:53:01,00:07:23,2009-01-01 17:00:24,00:06:29,2009-01-01 17:06:53,00:00:35,2009-01-01 17:07:28,00:06:29,2009-01-01 17:13:57,00:20:56
46,47,2009-01-01 16:55:45,00:11:08,2009-01-01 17:06:53,00:03:24,2009-01-01 17:10:17,00:03:40,2009-01-01 17:13:57,00:07:53,2009-01-01 17:21:50,00:26:05
47,48,2009-01-01 16:59:13,00:11:04,2009-01-01 17:10:17,00:06:34,2009-01-01 17:16:51,00:04:59,2009-01-01 17:21:50,00:06:41,2009-01-01 17:28:31,00:29:18
48,49,2009-01-01 17:27:59,00:00:00,2009-01-01 17:27:59,00:06:02,2009-01-01 17:34:01,00:00:00,2009-01-01 17:34:01,00:07:54,2009-01-01 17:41:55,00:13:56
49,50,2009-01-01 17:34:00,00:00:01,2009-01-01 17:34:01,00:03:39,2009-01-01 17:37:40,00:04:15,2009-01-01 17:41:55,00:07:54,2009-01-01 17:49:49,00:15:49